body {
  background-image: url('../imx/fondo.jpg');
  color: whitesmoke;
  font-size: 28px;
}

.form1 {
  background-color: #E6B99C;
  border-radius: 20px;
  box-sizing: border-box;
  color: #A88AEB;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;

}

.usuario {
  color: whitesmoke;
  font-size: 28px;
}

#menu {
  float: right;
}

#subirimx {
  float: center;
}

img {
  max-width: 150px;
  height: auto;
}

.form2 {
  background-color: #E6B99C;
  border-radius: 20px;
  box-sizing: border-box;
  color: #A88AEB;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;

}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 24px;

}

.submit:active {
  background-color: #06b;
}

table {
  background-color: black;
}

a:visited {
  color: green;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
  text-align: center;
}

#contPrincipal {
  background-color: rgb(16, 100, 16);
  height: 85%;
  width: 90%;
  margin:auto;
}

#contMenu {
height: 60%;
background-color: rgb(32, 70, 1);
border-width: 5px;
border-style: groove;
border-color: rgb(223, 5, 5);
text-align: center;
}

#contMenu img{
  max-width: 15%;
  height:auto;
  }

#contSecundario {
background-color: aqua;
height: 40%;
width: 100%;
display: flex;
}

#contInterfaz {
width: 65%;
height: 100%;
background-color: rgb(0, 0, 0);
color: white;
border-width: 5px;
border-style: double;
border-color: rgb(255, 0, 0);
text-align: center;
display:flex;
}

#contEstadisticas {
  width: 65%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  border-width: 5px;
  border-style: double;
  border-color: rgb(255, 0, 0);
  text-align: center;
  order:1;

  }

  #contOpciones {
    width: 65%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    border-width: 5px;
    border-style: double;
    border-color: rgb(255, 0, 0);
    text-align: center;
    order:2;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    }

    

#contInventario {
width: 35%;
height: 100%;
background-color: rgb(255, 255, 255);
color: black;
border-width: 5px;
border-style: dashed;
border-color: rgb(0, 0, 0);
text-align: center;
}


#texto{
  display: inline-block;
  position: relative;
  margin-top: 20px;

}

